<header>
    <mat-toolbar>
        <div class="left">
            <span class="logo">Rumah.com</span>

            <mat-button-toggle-group>
                <mat-button-toggle>Beli</mat-button-toggle>
                <mat-button-toggle>Sewa</mat-button-toggle>
                <mat-button-toggle>Properti baru</mat-button-toggle>
                <mat-button-toggle>Direktori</mat-button-toggle>
                <mat-button-toggle>Cari Agen</mat-button-toggle>
                <mat-button-toggle>Panduan</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div class="right">
            <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>favorite</mat-icon></button>
            <mat-menu #menu>
                <button mat-menu-item>
                    <mat-icon>favorite</mat-icon>
                    <span>Properti Tersimpan</span>
                </button>
            </mat-menu>

            <button mat-stroked-button>Login</button>
        </div>
    </mat-toolbar>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <div class="link">
        <a href="">Kebijakan Pengguna</a>
        <a href="">Ketentuan Layanan</a>
        <a href="">Privasi</a>
        <a href="">Persyaratan Pembelian</a>
    </div>

    <div class="copyright">
        <p>&copy; 2023 Rumah.com. Hak cipta dilindungi.</p>
    </div>
</footer>